.mainContainer {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 100px;
    width: 1200px;
    margin: 40px auto;
    background-color: rgb(245, 245, 245);
    padding: 20px;
}

.mainContentSection {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding-right: 160px;
}

.aboutMeSection {
    color: black;
}

.aboutMeSection p {
    padding-right: 160px;
    color: grey;
}

.aboutMeProfession {}

.myProjectSection {}

.myExpSection {}

.educationSection {}


/* SideBar */

.sideBarSection {
    background-color: #1E2939;
    color: white;
}

.contactSectionType {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
    margin-right: 5px;
}

.contactSectionLink {
    color: #565E6A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.sideBarTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}

.contactSection,
.techSkillSection {
    font-weight: 400;
    margin: 50px 0 0 40px;
    width: auto;
}

.ulList {
    padding: 0 0 0 15px;
}

.ulList li {
    color: #FB6D3A;
}

.ulList li span {
    color: #FFF;
}